.wrap{ 
    text-align:center; 
    width:100%; margin:0 auto; 
    border: 1px solid black; 
    margin-top:25px;}
.navcontainer {
	padding: 5px 0 7px 5px;
	width: 100%;
	line-height: 1.75;
	background-color: #F08080;
	font-family:Arial, Helvettica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	overflow: hidden;
	text-align: left;
}
ul.navlist{
	display: block;
	list-style-type: none;
	margin: 0 auto;
	padding:0px;
}
ul.navlist li{
	display:block;
	float: left;
	font-weight:bold;
	text-align:center;
	font-variant:small-caps;
	padding:1px;
	width: 200px;
	margin-right: 30px;
	border: 2px solid #fff;
	background-color: #696969;
}
ul.navlist li a{
    padding: 1px 1px;
    line-height: 1.75;
    text-decoration: none;
    color: #FFFF99;
    background-color: #F08080;
} 

ul.navlist li a#current{
background-color: #FFFF99;
color: #4D025D;
}

ul.navlist li a:hover, ul.navlist a#current:hover{
background-color: #4D025D;
color: #FFFF99;
}

ul.navlist li a:active, ul.navlist li.active a#current:active{
background-color: #CB294C;
color: #EC9FCD;
}
.header {
	width:100%; 
	background-color:#4D025D;
	color:white;
	margin-right:auto;
	margin-left:auto;
	padding:1px;
	overflow:hidden;
	text-align: left;
        display: inline-block;
        height: 10%;
}
.headerImg {
    float:left;
    display: block;
    width: 1px;
    height: 1px;}
.headerText{
    float:left;
    padding: auto;
    margin-left: 250px;
    font-size: 38px;
    
}
body{
    text-align: center; 
    width: 90%; 
    margin: 0 auto;  
    background-color: #D2B48C;
    color: #696969;
}
.post-title h1 {
    margin-bottom: .20px;
}
h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 1px;
    margin-left: 20%;
    margin-right: 20%;    
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0.8px;
    overflow: hidden;
    font-size: 38px;
}
h2{
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding-top:1px;
    height:100px;
    font-size: 25px;
    color: #F08080;
}
tr:hover td
{
    background-color: #4D025D;
    color:#CCCCCC;
}
tr:nth-child(even) td
{
    background-color: #EDEDED;
    color:#F08080;
}
table {
    width:90%;
    height: 70px;
    border-spacing:5rem;
    padding-left:5%;
    padding-right:5%;
    margin-left:5%;
    margin-right:5%;
    color:white;
    font-weight:bold;
    table-layout:auto;
    border-collapse: collapse;
    text-align: center;
}

th{
	height: 50px;
	width:10%;
	text-align: center;
	padding:1px;
	padding-left:10px;
        padding-right:10px;
        background-color: #696969;
        color: #FFFF99;
        font-weight: bold;
        font-size: larger;
}   
td{
	height:50px;
	width:50px;
	text-align: center;
	padding-left:100px;
        padding: 1px;
        background-color: #F08080;
        color: #FFFF99;
}

a{
    color:#FFFF99;
    background-color:#696969;
}
a:hover, a:hover.index {
	color:#FFFF99;
	background-color:#4D025D;
	text-decoration:underline;
}

a:link.add , a:visited.add {
	color:#FFFFFF;
	text-decoration:underline;
        background-color:#BC2663;
}
a:hover, a:hover.add {
	color:#FFFF99;
	background-color:#4D025D;
	text-decoration:underline;
}
*{
    box-sizing: border-box;
}
label{
   color:#FFFFFF;
   font-weight: bold;
   display: block;
   width: 100px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 31%;
   padding-right:24%;
   font-size: 16px;
          
}
fieldset {
	border: 4px solid #F08080;
	width: 100%;
	background: #FFFF99;
	padding: 3px;
        height: 150px;
        display: block;
}
fieldset legend {
	background: #696969;
	padding-top: 15px;
        padding-bottom: 15px;
        padding-left:2px;
        padding-right:2px;
	font-weight: bold;
        color: #FFFF99;
        height: 100px;
        width:75%;
        font-size: 30px;
        text-align: center;
        border: 4px solid #F08080;
}

input[type=text] {
    background-color: #F08080;
    color: white;
    width: 30%;
    height: 35px;
    font-size: 30px;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #FFFF99;
    border-radius: 4px;
    resize: none;
}
input[readonly] {
    background-color: #4D025D;
    color: #CCCCCC;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #F08080;
    border: #FFFF99;
    border-color: #FFFF99;
    border-radius:4px;
    font-weight: bold;
    font-size: 90%;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width:100%;}

input:hover[type=button], input:hover[type=submit], input:hover[type=reset]{
   background-color: #FFFF99;
    color: #F08080; 
}
p {
	margin:10px;
}
.footer {
	width:100%; 
	background-color:#4D025D;
	color:white;
	font-weight:bold;
	text-align:center;
	margin-right:0px;
	margin-left:0px;
        padding-top:2px;
        margin-top:2px;
}
.text_line {
	clear:both;
	background-color:#4D025D;
        width:100%;
        margin-left:0px;
        margin-right:0px;
        padding-top: 2px;
        border-top-color: #D2B48C;
}



